# Binaries
/card-backend
/bin/

# Env & secrets
.env
.env.*
config.json

# IDE
.idea/
.vscode/

# OS
.DS_Store
/cmd/server/card-backend
/cmd/vaultkey/vaultkey
/cmd/server/server
/cmd/vaultkey/seed.txt